<div id="<%= dom_id restaurant %>">
  <div class="box-restaurant">
    <p>
      <strong>Name:</strong>
      <%= restaurant.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= restaurant.address %>
    </p>

    <p>
      <strong>Phone number:</strong>
      <%= restaurant.phone_number %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= restaurant.category %>
    </p>
  </div>

  <p><strong>Reviews</strong> <%= link_to "Add a review",  new_restaurant_review_path(restaurant.id)%>
  </p>

  <ul class="list-group">
    <% restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %> (<%= review.rating %>/5)</li>
    <% end %>
  </ul>
  <br>
</div>
